.bcontent{
    padding-left: 3rem;
    padding-top: 300px;
    width: 45rem;
}
.bcontent h1{
    font-size: 2.6em;   
    margin-bottom: 10px;

}
.bcontent h2{
    font-size: 1.3em;
}
.netflixh{
    color: rgb(205, 7, 7);
    font-size:20px;
}